.justificado {
    text-align: justify;
    margin: 10px 40px;
    background-color: wheat;
    padding: 15px 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.sombra {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.61);
}

.codigo {
    background-color: #D3CCE3;
    padding: 15px 15px;
    margin: 5px 5px;
}

.fixed {
    position: fixed;
}


